# ~/.gitconfig - managed by chezmoi

[user]
    name = {{ index . "name" | default "User" | quote }}
    email = {{ index . "email" | default "user@example.com" | quote }}

[init]
    defaultBranch = main

[core]
    editor = {{ index . "editor" | default "nvim" }}
    autocrlf = input
    excludesfile = ~/.gitignore_global
    pager = delta

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = current

[fetch]
    prune = true

[diff]
    colorMoved = zebra
    tool = nvimdiff

[merge]
    conflictstyle = diff3
    tool = nvimdiff

[rebase]
    autoStash = true

# Aliases
[alias]
    # Shortcuts
    co = checkout
    br = branch
    ci = commit
    st = status
    
    # Useful operations
    unstage = reset HEAD --
    last = log -1 HEAD
    amend = commit --amend --no-edit
    undo = reset --soft HEAD~1
    
    # Pretty logs
    lg = log --oneline --graph --decorate -20
    lga = log --oneline --graph --decorate --all -20
    ll = log --pretty=format:'%C(yellow)%h%Creset %s %C(cyan)<%an>%Creset %C(green)(%cr)%Creset' -20
    
    # Show contributors
    contributors = shortlog -sn --no-merges
    
    # Show branches sorted by last commit
    recent = branch --sort=-committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:green)%(committerdate:relative)%(color:reset) - %(contents:subject)'
    
    # Stash operations
    sl = stash list
    sp = stash pop
    ss = stash save

# Delta (better diff)
[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only

# URL shortcuts
[url "git@github.com:"]
    insteadOf = gh:
    insteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = gl:
    insteadOf = https://gitlab.com/
